<div class="row">
  <section id="matches" class="col-md-4">
    <%= render :partial => 'tournaments/matches' %>
  </section>

  <section id="score_table" class="col-md-8">
    <%= render :partial => 'tournaments/score_table' %>
  </section>

</div>
